:root {
    --gradient: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%);;
}

@media only screen and (max-device-width : 640px) {
    .bg {
        height: 100px!important;
    }

    .title {
        font-size: 40px;
    }

    body {
        overflow-y: hidden;
    }

    canvas {
        width:85vw!important;
        height: 85vw!important;
        position: absolute;
        bottom: 10px;
    }

    #linkbuttons {
        top: 110px;
        left: 10px;
    }

    #gamebuttons button {
        width: 260px!important;
        display: block;
    }
}
    
@media only screen and (min-device-width: 640px) {
    .title {
        font-size: 60px;
    }

    #linkbuttons {
        top: 10px;
        right: 10px;
    }

}

body {
    margin: 0;
    font-family: basic-sans, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    min-height: 100vh;

    background: var(--gradient);
    background-size: 150% 150%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: italic;
    font-weight: bolder;
    text-align: center;
    line-height: 80%;
    text-transform: uppercase;
    width: 100%;
    height: 100%;

    background: var(--gradient);
    background-clip: text;
    color: transparent;

    -webkit-background-clip: text;
}

.bg {
    width: 80vw;
    max-width: 800px;
    min-width: 70%;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    margin-bottom: 25px;
    height: 200px;
    border: 0.2em solid #000000;
    box-shadow: 2px 3px 2px black;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin-bottom: 25px;
    border: 0.2em solid #000000;
}

.pcr-button {
    border: 3px solid black!important;
}

.pcr-button::after {
    border-radius: 0!important;
}

canvas {
    border: 5px solid black;

}

.white {
    background-color: white;
}


#gameInfo {
    left: 10px;
    width: 270px;
    top: 10px;
}