.options {
    display: block;
    text-align: center;
}

#picker {
    background-color: white;
    border: 0.15em solid #000000;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font: 600 1.2rem 'Montserrat', sans-serif;
    color: black;
    letter-spacing: 0.125em;
}

#sliders {
    margin-top: 15vh;
}
