 html input[type="range"] {
	 outline: 0;
	 border: 0;
	 border-radius: 500px;
	 width: 90%;
	 max-width: 400px;
	 margin: 24px 0 16px;
	 transition: box-shadow 0.2s ease-in-out;
}
 @media screen and (-webkit-min-device-pixel-ratio: 0) {
	 html input[type="range"] {
        border: 3px solid black;
        overflow: hidden;
        height: 40px;
        -webkit-appearance: none;
        background-color: #ddd;
	}
	 html input[type="range"]::-webkit-slider-runnable-track {
        height: 40px;
        -webkit-appearance: none;
        color: #444;
        transition: box-shadow 0.2s ease-in-out;
	}
	 html input[type="range"]::-webkit-slider-thumb {
        width: 40px;
        -webkit-appearance: none;
        height: 40px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 0 #1597ff;
        border-radius: 5px;
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
	}
}
html input[type="range"]::-moz-range-thumb {
    background-color: #fff;
    width: 40px;
    border: 3px solid black;
    cursor: ew-resize;
    -moz-appearance: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    height: 100%;
}
 html input[type="range"]::-moz-range-progress {
     background-color: #1597ff;
     height: 100%;
}
 html input[type="range"]::-moz-range-track {
	 background-color: #ddd;
}
 html input[type="range"]::-ms-fill-lower {
     background-color: #43e5f7;
     height: 100%;
}
 html input[type="range"]::-ms-fill-upper {
	 background-color: #ddd;
}

.slider-label {
    margin-bottom: 10px;
}